body {
  font-family: serif, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

#ttsContainer {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
#logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.logo {
  max-width: 150px;
  height: auto;
}

p {
  line-height: 1.5;
  color: whitesmoke;
  transition: color 0.3s ease;
}

p:hover {
  color: whitesmoke;
  background-color: green;
}
textarea {
  box-sizing: border-box;
  width: 100%;
  font-size: 18px;
  max-width: calc(100% - 20px);
  height: 200px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid green;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  resize: vertical;
  overflow-y: auto;
}

textarea:hover {
  border-color: blue;
}

label {
  display: block;
  margin-bottom: 5px;
  color: whitesmoke;
}

select,
input[type="range"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #70002e;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

select:hover,
input[type="range"]:hover {
  border-color: #70002e;
}

button {
  padding: 10px 20px;
  background-color: #70002e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: blue;
}

#wordBox {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  background-color: blue;
  color: whitesmoke;
}

input[type="range"] {
  background: linear-gradient(to right, green, green) no-repeat center/100% 2px;
}

@media only screen and (max-width: 600px) {
  #ttsContainer {
    padding: 10px;
  }
}
input[type="range"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  background: linear-gradient(to right, green, blue) no-repeat center/100% 2px;
}

input[type="range"]:hover {
  background: linear-gradient(to right, green, blue) no-repeat center/100% 2px;
}

#pitchSlider {
  width: 70%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: linear-gradient(to right, #dcdcdc, #dcdcdc) no-repeat center/100%
    2px;
  border-radius: 4px;
  outline: none;
  transition: background 0.3s ease;
}

#pitchSlider:hover,
#pitchSlider:focus {
  background: linear-gradient(to right, green, green) no-repeat center/100% 2px;
}

#pitchSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: gre;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#pitchSlider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: green;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#pitchSlider::-ms-thumb {
  width: 16px;
  height: 16px;
  background: green;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#introVideo {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#rateSlider {
  width: 70%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: linear-gradient(to right, #dcdcdc, #dcdcdc) no-repeat center/100%
    2px;
  border-radius: 4px;
  outline: none;
  transition: background 0.3s ease;
}

#rateSlider:hover,
#pitchSlider:focus {
  background: linear-gradient(to right, green, green) no-repeat center/100% 2px;
}

#rateSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #70002e;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#rateSlider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #70002e;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#rateSlider::-ms-thumb {
  width: 16px;
  height: 16px;
  background: #70002e;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
footer {
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-text {
  margin: 0;
}

.footer-text a {
  color: whitesmoke;
  text-decoration: none;
  font-weight: bold;
}
