body {
  font-family: serif, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  color: #333;
}

#ttsContainer {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
#logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

.logo {
  max-width: 150px;
  height: auto;
}

p {
  line-height: 1.5;
  color: whitesmoke;
  transition: color 0.3s ease; /* Adding transition for a smooth effect */
}

p:hover {
  color: whitesmoke; /* Your brand color on hover */
  background-color: #70002e;
}
textarea {
  box-sizing: border-box;
  width: 100%;
  max-width: calc(100% - 20px);
  height: 200px; /* Set a specific height */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #70002e;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  resize: vertical; /* Allow vertical resizing if needed */
  overflow-y: auto; /* Add a scrollbar when the content exceeds the height */
}

textarea:hover {
  border-color: #70002e;
}

label {
  display: block;
  margin-bottom: 5px;
  color: whitesmoke;
}

select,
input[type="range"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #70002e;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

select:hover,
input[type="range"]:hover {
  border-color: #70002e;
}

button {
  padding: 10px 20px;
  background-color: #70002e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #f9423a;
}

#wordBox {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  background-color: #70002e;
  color: whitesmoke;
}

/* Pitch Line */
input[type="range"] {
  background: linear-gradient(to right, #70002e, #70002e) no-repeat center/100%
    2px;
}

/* Responsive Styling */
@media only screen and (max-width: 600px) {
  #ttsContainer {
    padding: 10px;
  }
}
/* Pitch Line */
input[type="range"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: none;
  background: linear-gradient(to right, #70002e, #70002e) no-repeat center/100%
    2px;
}

input[type="range"]:hover {
  background: linear-gradient(to right, #70002e, #70002e) no-repeat center/100%
    2px;
}

#pitchSlider {
  width: 96%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: linear-gradient(to right, #dcdcdc, #dcdcdc) no-repeat center/100%
    2px; /* White Smoke color */
  border-radius: 4px;
  outline: none;
  transition: background 0.3s ease;
}

#pitchSlider:hover,
#pitchSlider:focus {
  background: linear-gradient(to right, #70002e, #70002e) no-repeat center/100%
    2px; /* Hover/Focus color */
}

#pitchSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #70002e;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#pitchSlider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #70002e;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#pitchSlider::-ms-thumb {
  width: 16px;
  height: 16px;
  background: #70002e;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#introVideo {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

#rateSlider {
  width: 96%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background: linear-gradient(to right, #dcdcdc, #dcdcdc) no-repeat center/100%
    2px; /* White Smoke color */
  border-radius: 4px;
  outline: none;
  transition: background 0.3s ease;
}

#rateSlider:hover,
#pitchSlider:focus {
  background: linear-gradient(to right, #70002e, #70002e) no-repeat center/100%
    2px; /* Hover/Focus color */
}

#rateSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #70002e;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#rateSlider::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #70002e;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#rateSlider::-ms-thumb {
  width: 16px;
  height: 16px;
  background: #70002e;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
